block footer
footer.mainfooter(role='contentinfo')
  .footer-top.p-y-2
    .container-fluid
      .row
  .footer-middle
    .container
      .row
        .col-md-3.col-sm-6
          // Column1
          .footer-pad
            h4 Address
            address
              ul.list-unstyled
                li
                  | City Hall
                  br
                  | 										212  Street
                  br
                  | 										Lawoma
                  br
                  | 										735
                  br
                li
                  | Phone: 0
        .col-md-3.col-sm-6
          // Column1
          .footer-pad
            h4 Popular Services
            ul.list-unstyled
              li
                a(href='#')
              li
                a(href='#') Payment Center
              li
                a(href='#') Contact Directory
              li
                a(href='#') Forms
              li
                a(href='#') News and Updates
              li
                a(href='#') FAQs
        .col-md-3.col-sm-6
          // Column1
          .footer-pad
            h4 Website Information
            ul.list-unstyled
              li
                a(href='#') Website Tutorial
              li
                a(href='#') Accessibility
              li
                a(href='#') Disclaimer
              li
                a(href='#') Privacy Policy
              li
                a(href='#') FAQs
              li
                a(href='#') Webmaster
        .col-md-3.col-sm-6
          // Column1
          .footer-pad
            h4 Popular Departments
            ul.list-unstyled
              li
                a(href='#') Parks and Recreation
              li
                a(href='#') Public Works
              li
                a(href='#') Police Department
              li
                a(href='#') Fire
              li
                a(href='#') Mayor and City Council
              li
                a(href='#')
  .footer-bottom
    .container
      .row
        .col-xs-12
          // Footer Bottom
          p.text-xs-center © Copyright 2018 ShihCHun(Rufus) Huang.  All rights reserved.

